body{
    width: 1920px;
    margin: auto;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}

html ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #6e6ea9;
  }
  html ::-webkit-scrollbar-track {
    background: #ededed;
  }

.setorUm{
    margin-top: 0;
    margin: auto;
    background-color: #FDF8EE;
    width: 1920px;
    height: 1078px;
}

header{
    padding-top: 54px;
    display: flex;
    justify-content: space-between;
    width: 1920px;
}

header img{
    padding-left: 196px;
    width: 185px;
    height: 51px;
}

ul li a:hover{
    color: #4D2C5E;
    font-weight: bolder;
}

ul li, button {
    display: inline-block;
    margin-left: 45px;
    font-size: 18px;
    font-weight: 500;
}

button:hover{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

button:active{
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header button{
    margin-right: 195px;
    background-color: #4D2C5E;
    color: white;
    border-radius: 96px;
    width: 191px;
    height: 65px;
    font-size: 25px;
    font-weight: 500;
}

.caixaSetorUm{
    width: 1784px;
    height: 756px;
    margin: auto;
    margin-top: 68px;
}

.img1{
    position: absolute;
    margin-top: 239px;
    margin-left: 143px;
}

.img1-1{
    position: absolute;
    margin-top: 286px;
    margin-left: 186px;
}

.img2{
    position: absolute;
    margin-top: 196px;
    margin-left: 692px;
}

.img3{
    position: absolute;
    margin-top: 245px;
    margin-left: 1061px;
}

.img4{
    position: absolute;
    margin-top: 174px;
    margin-left: 1330px;
}

.img5{
    position: absolute;
    margin-top: 195px;
    margin-left: 1770px;
}

.img6{
    position: absolute;
    margin-top: 786px;
    margin-left: 83px;
}

.img7{
    position: absolute;
    margin-top: 782px;
    margin-left: 454px;
}

.img8{
    position: absolute;
    margin-top: 855px;
    margin-left: 1222px;
}

.img9{
    position: absolute;
    margin-top: 720px;
    margin-left: 1745px;
}

.img10{
    position: absolute;
    margin-top: 547px;
    margin-left: 1791px;
}

.elipse{
    position: absolute;
    margin-top: 242px;
    margin-left: 1355px;
}

.secaoCaixaSetorUm{
    margin-left: 110px;
    margin-top: 175px;
    width: 586px;
}

.textosCaixaSetorUm{
    display: flex;
    justify-content: space-between;
}

h1{
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 69px;
    line-height: 135%;
    margin-bottom: 9px;
}

span{
    color: #FF7426;
}

p{
    margin-top: 0;
    color: #8a8a8a;
    font-weight: 500;
    font-size: 20px;
    line-height: 171%;
}

.procurar{
    justify-content: space-between;
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
    width: 568px;
    height: 79px;
    background-color: white;
    border-radius: 96px;
}

.inputProcurar{
    margin-top: 3px;
    margin-left: 40px;
    width: 400px;
    position: relative;
    border-radius: 96px;
    height: 69px;
    border: none;
}

.procurar p{
    text-align: start;
    position: absolute;
    margin-top: 3px;
    margin-left: 30px;
    margin-top: 22px;
    width: 400px;
}

.procurar button{
    width: 158px;
    height: 69px;
    margin-right: 9px;
    margin-left: 0;
    border-radius: 96px;
    z-index: 1;
    padding: 0;
    margin-top: 5px;
    border: none;
    background-color: #4D2C5E;
    color: white;
    font-size: 25px;
    font-weight: 500;
}

.imgCaixaSetorUm img{
    margin-top: 110px;
    margin-right: 147px;
    z-index: 1;
    margin-bottom: 60px;
    position: relative;
}

.setorFlutuante{
    border-radius: 14px;
    margin-top: 60px;
    margin: auto;
    width: 1432px;
    height: 277px;
    background-color: #4D2C5E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
    width: 419px;
    height: 137px;
}

.box2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
    width: 419px;
    height: 137px;
}

.box3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
    width: 419px;
    height: 137px;
}

h2{
    margin-top: 0;
    margin-bottom: 0;
    color: white
}

.imgBox1{
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 102px;
    background: rgba(255, 255, 255, 0.20);
}

.imgBox2{
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 102px;
    background: rgba(255, 255, 255, 0.20);
}

.imgBox3{
    border-radius: 23px;
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 102px;
    height: 102px;
    background: rgba(255, 255, 255, 0.20);
}

.box1 .textbox1 p{
    margin-bottom: 0;
    line-height: 28px;
    font-size: 15px;
    color: white;
    opacity: 60%;
}

.box2 .textbox2 p{
    margin-bottom: 0;
    line-height: 28px;
    font-size: 15px;
    color: white;
    opacity: 60%;
}

.box3 .textbox3 p{
    margin-bottom: 0;
    line-height: 28px;
    font-size: 15px;
    color: white;
    opacity: 60%;
}

.setorDois{
    margin: auto;
    width: 1920px;
    height: 985px;
    margin-right: 0;
    padding-top: 102px;
}

.topoSetorDois{
    display: flex;
    justify-content: space-between;
    margin-left: 81px;
    margin-right: 81px;
    margin-top: 194px;
}

.textTopoSetorDois{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textTopoSetorDois h3{
    margin: 0;
    font-size: 50px;
    font-weight: 500;
    line-height: 140%;
}

.mulheres{
    margin-top: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 1530px;
    height: 489px;
}

.mulheres .caixa{
    width: 490px;
    height: 457px;
    border-radius: 14px;
    padding-top: 10px;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.50);
}

.mulheres .caixa .space{
    display: flex;
    justify-content: space-between;
}

.mulheres .caixa .fotoRetangulo{
    margin-top: 10px;
    display: flex;
    margin: auto;
    width: 464px;
    height: 238px;
    border-radius: 14px;
}

.mulheres .caixa p{
    margin-top: 14px;
    margin-left: 13px;
    margin-bottom: 3px;
    font-size: 16px;
}

.mulheres .caixa h4{
    margin-top: 0;
    margin-left: 13px;
    margin-bottom: 3px;
    font-size: 20px;
}

.mulheres .caixa span{
    margin: 0 13px 0 ;
    font-size: 20px;
}

.mulheres .caixa .star{
    margin-top: 22px;
    width: 88px;
    height: 16px;
    margin-right: 13px;
    border-radius: 0;
}

.line{
    width: 464px;
    height: 0;
    margin: auto;
    border: 1px dashed #ACACAC ;
    margin-top: 9px;
}

.mulheres .caixa .posLine{
    display: flex;
    margin-left: 13px;
    margin-top: 21px;
}

.mulheres .caixa .posLine div{
    display: flex;
    align-items: center;
}

.mulheres .caixa .posLine img{
    width: 19px;
    height: 19px;
    align-items: center;
}

.mulheres .caixa .posLine p{
    margin-top: 0;
    margin-left: 6px;
    margin-right: 14px;
}

.mulheres .caixa .button button{
    background-color: #FF7426;
    color: white;
    width: 207px;
    height: 55px;
    border-radius: 96px;
    border: none;
    font-size: 25px;
    font-weight: 500;
    margin: auto;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.uniaoSetores{
    width: 1920px;
    height: 2660px;
}

.setorTres{
    width: 1920px;
    height: 636px;
    background-color: #FDF8EE;
    margin-right: 0;
}

.uniaoSetores .imgMulher{
    margin-top: 63px;
    margin-left: 224px;
    position: absolute;
}

.textSetorTres{
    padding-top: 79px;
    margin-left: 887px;
}

.box{
    height: 101px;
    display: flex;
}

.caixaImagem{
    width: 102px;
    height: 102px;
}

.caixaImagem{
    background-color: #4D2C5E;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.uniaoSetores .setorTres .textSetorTres .box{
    margin-bottom: 34px;
}

.uniaoSetores .setorTres .textSetorTres .box .text{
    padding-left: 48px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.uniaoSetores .setorTres .textSetorTres .box .text h4{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.uniaoSetores .setorTres .textSetorTres .box .text p{
    font-size: 26px;
    margin-bottom: 0;
}

.segImg1{
    position: absolute;
    margin-top: 237px;
    margin-left: 115px;
}

.segImg2{
    position: absolute;
    margin-top: 65px;
    margin-left: 261px;
}

.segImg3{
    position: absolute;
    margin-top: 83px;
    margin-left: 687px;
}

.segImg4{
    position: absolute;
    margin-top: 538px;
    margin-left: 694px;
}

.segImg5{
    position: absolute;
    margin-top: 470px;
    margin-left: 127px;
}

.segImg6{
    position: absolute;
    margin-top: 395px;
    margin-left: 728px;
}

.elipse1{
    position: absolute;
    margin-top: 171px;
    margin-left: 0px;
    width: 960px;
    height: 778px;
}

.elipse2{
    position: absolute;
    margin-right: 0;
    margin-top: 368px;
    margin-left: 950px;
    width: 960px;
    height: 778px;
}

.elipse3{
    position: absolute;
    margin-left: 195px;
    margin-top: 1684px;
    width: 350px;
    height: 284px;
}

.elipse4{
    position: absolute;
    margin-left: 1449px;
    margin-top: 1730px;
    width: 350px;
    height: 284px;
}

.uniaoSetores{
    margin-bottom: 0;
}

.setorFinal h2{
    color: black;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 9px;
}

.setorFinal p{
    color: #8A8A8A;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 9px;
}

.setorFinal .textInicial{
    color: black;
    font-size: 40px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 130px;
    align-items: center;
    margin-bottom: 50px;
}

.boxCaixasTexto{
    margin: auto;
    width: 1300px;
    height: 352px;
    display: flex;
}

.boxCaixasTexto .divDiv{
    background-color: #FFFFFF;
    z-index: 1;
    margin: auto;
    margin-top: 0;
    width: 417px;
    height: 258px;
    box-shadow: 0px 4px 88px 0px rgba(0, 0, 0, 0.05);
}

.elpises{
    z-index: -1;
}

.boxCaixasTexto p{
    margin-top: 47px;
    margin-left: 47px;
    font-size: 19px;
    margin-top: 32px;
}

.boxCaixasTexto .foto{
    margin-top: 24px;
    width: 161px;
    height: 47px;
    margin-left: 47px;
}

.boxCaixasTexto .imgFoto{
    width: 47px;
    height: 47px;
}

.foto{
    height: 47px;
    display: flex;
    width: 161px;
    height: 47px;
}


.divText h2{
    font-size: 17px;
    width: 300px;
    height: 27px;
    margin: 0;
    padding: 0;
}

.divText p{
    font-size: 13px;
    width: 300px;
    height: 27px;
    margin: 0;
    padding: 0;
}

.divText .profissao{
    font-size: 20px;
}

.divFoto{
    margin-right: 16px;
}

.carrossel{
    display: flex;
    justify-content: space-around;
}

.segundoTitulo{
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.segundoTitulo h2{
    font-size: 50px;
}

.segundoTitulo p{
    font-size: 20px;
    margin-bottom: 65px;
}

.nome{
    font-size: 20px;
    padding-top: 15px;
    margin-bottom: 0;
}

h6{
    margin-top: 0;
    font-size: 16px;
    color: #868686;
    margin-left: 13px;
    margin-bottom: 15px;
}

.descricao{
    font-size: 18px;
    color: #ACACAC;
    margin-bottom: 22px;
}

.rodapeBox{
    display: flex;
    justify-content: space-between;
    margin-left: 13px;
    margin-top: 22px;
    height: 38px;
    width: 464px;
}

.spanHomens{
    font-size: 18px;
    color: #FF7426;
}

.sociais{
    display: flex;
    justify-content: space-between;
    width: 88px;
    height: 38px;
}

.boxSociais{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-color:#F9F9F9;
}

.sociais .sociaisImg{
    display: flex;
    width: 22px;
    height: 22px;
}

.retangulo{
    margin: auto;
    margin-top: 159px;
    width: 1432px;
    height: 429px;
    background-color: #4D2C5E;
    border-radius: 14px;
}

.elipseBranca1{
    position: absolute;
    margin-left: 25px;
}

.elipseBranca2{
    position: absolute;
    margin-top: 0;
}

.elipseBranca3{
    position: absolute;
    margin-left: 1230px;
}

.elipseBranca4{
    position: absolute;
    margin-left: 1270px;
}

.flechaLaranja{
    position: absolute;
    margin-top: 215px;
    margin-left: 100px;
}

.lampada2{
    position: absolute;
    margin-top: 252px;
    margin-left: 1134px;
}

.centralizarProcurar{
    display: flex;
    justify-content: center;
}

.textRetangulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 94px;
}

.tituloRetangulo{
    font-size: 40px;
    color: white;
}

.pRetangulo{
    font-size: 20px;
    margin-bottom: 41px;
    color: white;
}

.centralizarProcurar .botaoSend{
    background-color: #FF7426;
    width: 197px;
}

footer{
    margin-top: 80px;
    width: 1920px;
    height: 411px;
    background-color: #FDF8EE;
}

.corpoDivs{
    display: flex;
    justify-content: space-around;
    margin-left: 196px;
    margin-right: 196px;
    padding-top: 31px;
}

.lineFooter{
    margin-top: 30px;
    background-color: #B7B7B7;
    width: 1920px;
    height: 1px;
}

.corpoDivs img{
    margin-bottom: 29px;
    padding-top: 30px;
}

.corpoDivs h4{
    margin-bottom: 29px;
    color: black;
    font-weight: bolder;
    font-size: 25px;
}


.pFooter{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 19px;
}

::placeholder{
    font-size: 20px;
    color: #ACACAC;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input{
    font-size:20px;
    color: #ACACAC;
}
